<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Welcome to Uni News Panal</h1>
              <p class="lead  text-white">One source for the Univiersty news, events and others</p>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-fat-add"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Add News</h6>
                  <p class="description mt-3">Add a new news for the Uni News mobile app</p>
                  <a href="#" class="btn btn-primary mt-4">Learn more</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="ni ni-fat-delete"></i>
                  </div>
                  <h6 class="text-success text-uppercase">Edit News</h6>
                  <p class="description mt-3">Edit a spesifc news for Uni News Mobile Application</p>
                  <a href="#" class="btn btn-success mt-4">Learn more</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-fat-remove"></i>
                  </div>
                  <h6 class="text-warning text-uppercase">Delete News</h6>
                  <p class="description mt-3">Delete a spesifc news for Uni News Mobile Application</p>
                  <a href="#" class="btn btn-warning mt-4">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <br>
  <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-tv-2"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Add Youtube Video</h6>
                  <p class="description mt-3">Add a youtube video url to display it in Uni News mobile app</p>
                  <a href="#" class="btn btn-primary mt-4">Learn more</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="ni ni-bell-55"></i>
                  </div>
                  <h6 class="text-success text-uppercase">Send Event</h6>
                  <p class="description mt-3">Send a notification for Uni News Mobile App users</p>
                  <a href="#" class="btn btn-success mt-4">Learn more</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-settings-gear-65"></i>
                  </div>
                  <h6 class="text-warning text-uppercase">Login Settings</h6>
                  <p class="description mt-3">Change login username or password details</p>
                  <a href="#" class="btn btn-warning mt-4">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>